@model SCGS.WEB.Models.AgendamentoConsultaModel
@{
    ViewBag.Title = "Pedido de Medicamento";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Pedido de Medicamento
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i><a href="/"> Principal</a>
            </li>
           
            <li class="active">
                <i class="fa fa-bar-chart-o"></i>Pedido de Medicamento
            </li>
        </ol>
    </div>
</div>

<fieldset>
    <legend>Pesquisar Usuário</legend>
    <div class="row">
        <div class="col-lg-2 form-group">
            <select id="campo" class="form-control">
                <option>Nome</option>
                <option>RG</option>
                <option>CPF</option>
            </select>
        </div>
        <div class="col-lg-6 form-group">
            <input type="text" class="form-control" onkeyup="buscarUsuario()" id="valor" placeholder="Pesquisa de Usuário/Paciente" />
        </div>
        <div class="col-lg-2 form-group">
            <input type="submit" style="width:100%;" onclick="buscarUsuario()" class="btn btn-primary" value="Pesquisar" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive table scrollable">
                <table class="table table-bordered table-hover" id="usuarios">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>RG</th>
                            <th>CPF</th>
                            <th>Data Nascimento</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</fieldset>

@section scripts{
    @Scripts.Render("~/bundles/morris")

    <script>
        function buscarUsuario() {
            var campo = $("#campo").val();
            var valor = $("#valor").val();
            $.ajax({
                url: "/Consulta/PesquisarUsuario/",
                type: "post",
                data: { "campo": campo, "valor": valor},
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                    alert('Error: ' + textStatus + " msg: " + errorThrown);
                },

                success: function (data, textStatus, XMLHttpRequest) {
                    $("#usuarios").empty();
                    $("#usuarios").append(
                               +"<table class='table table-bordered table-hover'>"
                                    +"<thead>"
                                        +"<tr>"
                                            +"<th>Nome</th>"
                                            +"<th>RG</th>"
                                            +"<th>CPF</th>"
                                            +"<th>Data Nascimento</th>"
                                            +"<th>Opções</th>"
                                        +"</tr>"
                                            + "</thead>"
                                             + "<tbody>"

                         );

                    for (var i = 0; i < data.length; i++) {
                        $("#usuarios").append(
                            "<tr>"
                            +"<td>"+data[i].Nome+"</td>"
                            +"<td>"+data[i].RG+"</td>"
                            +"<td>"+data[i].CPF+"</td>"
                            +"<td>"+data[i].DataNascimento+"</td>"
                            + "<td>"
                            +"<a href='/Estoque/PedidoMedicamento/"+data[i].Id+"'>"+"Novo Pedido</a>"
                            +"</td>"
                            +"</tr>"
                          );
                    }

                    $("#usuarios").append(
                         "</tbody>"
                        +"</table>");

                    }


            });


        }

    </script>



}
